<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <ul>
        <li>
          <a mat-list-item routerLink="/dashboard">
            <mat-icon class="icon">dashboard</mat-icon>
            <span class="label" i18n>Dashboard</span>
          </a>
        </li>

        <li>
          <a mat-list-item routerLink="/todo" *ngIf="auth.isLoggedIn">
            <mat-icon class="icon">dashboard</mat-icon>
            <span class="label" i18n>To-Do</span>
          </a>
        </li>
        <li>
          <a mat-list-item routerLink="/tobuy" *ngIf="auth.isLoggedIn">
            <mat-icon class="icon">dashboard</mat-icon>
            <span class="label" i18n>To-Buy</span>
          </a>
        </li>

        <li>
          <a mat-list-item routerLink="/login" *ngIf="!auth.isLoggedIn">
            <mat-icon class="icon">input</mat-icon>
            <span class="label" i18n>Login</span>
          </a>
        </li>

        <li>
          <a mat-list-item (click)="auth.logout()" *ngIf="auth.isLoggedIn" type="button">
            <mat-icon class="icon">input</mat-icon>
            <span class="label" i18n>LogOut</span>
          </a>
        </li>
      </ul>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div fxHide.lt-sm>
        <button mat-icon-button routerLink="/">
          <mat-icon>home</mat-icon>
        </button>
      </div>

      <span (click)="sidenav.toggle()" i18n>ToDo-ToBuy (example app)</span>
      
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px">

          <li>
            <a routerLink="/dashboard">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label" i18n>Dashboard</span>
            </a>
          </li>

          <li>
            <a routerLink="/todo" *ngIf="auth.isLoggedIn">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label" i18n>To-Do</span>
            </a>
          </li>
          <li>
            <a routerLink="/tobuy" *ngIf="auth.isLoggedIn">
              <mat-icon class="icon">dashboard</mat-icon>
              <span class="label" i18n>To-Buy</span>
            </a>
          </li>

          <li>
            <a routerLink="/login" *ngIf="!auth.isLoggedIn">
              <mat-icon class="icon">input</mat-icon>
              <span class="label" i18n>Login</span>
            </a>
          </li>

          <li>
            <a (click)="auth.logout()" *ngIf="auth.isLoggedIn" type="button">
              <mat-icon class="icon">input</mat-icon>
              <span class="label" i18n>LogOut</span>
            </a>
          </li>
        </ul>
      </div>

    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>


  </mat-sidenav-content>
</mat-sidenav-container>
