<div class="tobuyedit-container spinner-wrapper">
  <form [formGroup]="tbForm" (ngSubmit)="save()">
    <div class="spinner-container" *ngIf="isLoading">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Quantity" formControlName="qty" type="number" min="0">
    </mat-form-field>

    <div formGroupName="price">
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="amount" type="number" min="0">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Currency" formControlName="currency">
          <mat-option *ngFor="let available of AvailableCurrencies" [value]="available">
            {{Currency[available]}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>


    <mat-form-field>
      <input matInput [matDatepicker]="dueToUtcDatepicker" placeholder="Buy before" formControlName="dueToUtc" [min]="minDate"
        (click)="dueToUtcDatepicker.open()">
      <mat-datepicker-toggle matSuffix [for]="dueToUtcDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #dueToUtcDatepicker touchUi></mat-datepicker>
    </mat-form-field>

    <div *ngIf="!isNewRecord">
      <p>Id: <span>{{tbForm.value["publicId"] }}</span></p>
      <p>Created: <span>{{created | amFromUtc | amLocal | amCalendar}}</span></p>
      <p>Updated: <span>{{updated | amFromUtc | amLocal | amTimeAgo:true}}</span></p>
    </div>

    <div>
      <button mat-raised-button routerLink="/tobuy">Back to List</button>
      <div fxFlex></div>
      <button mat-raised-button color="primary" (click)="save()">{{isNewRecord ? 'Create': 'Save'}}</button>
    </div>
  </form>

  <div *ngIf="false">
    {{ tbForm.value | json }}
  </div>
</div>
