<div class="todolist-container">

  <form class="filter-form">
    <mat-form-field class="full-width">
      <input matInput placeholder="Search" #input>
    </mat-form-field>
  </form>
  
  
  <mat-table class="todoItems-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="updated"
    matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="publicId">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let todoItem">{{todoItem.publicId}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Title</mat-header-cell>
      <mat-cell class="title-cell" *matCellDef="let todoItem">{{todoItem.title}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell class="description-cell" *matCellDef="let todoItem">{{todoItem.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="updated">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Updated</mat-header-cell>
      <mat-cell class="updated-cell" *matCellDef="let todoItem">{{todoItem.updated}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

  </mat-table>
  
  <mat-progress-bar mode="indeterminate"  *ngIf="dataSource.loading$ | async" ></mat-progress-bar>
  <mat-progress-bar mode="determinate" value="0"  *ngIf="(dataSource.loading$ | async) === false" ></mat-progress-bar>

  <mat-paginator [length]="dataSource.totalRecords$ | async" [pageSize]="pageSize" [pageSizeOptions]="[3, 5, 10, 50, 100]"></mat-paginator>
</div>
