<div class="course">

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <mat-form-field>
    <input matInput placeholder="Search lessons" #input>
  </mat-form-field>

  <mat-table class="todoItems-table mat-elevation-z8" [dataSource]="dataSource" matSort matSortActive="seqNo"
    matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="publicId">
      <div *matHeaderCellDef>#</div>
      <div *matCellDef="let todoItem">{{todoItem.publicId}}</div>
    </ng-container>

    <ng-container matColumnDef="title">
      <div *matHeaderCellDef mat-sort-header>Title</div>
      <div class="title-cell" *matCellDef="let todoItem">{{todoItem.title}}</div>
    </ng-container>

    <ng-container matColumnDef="description">
      <div *matHeaderCellDef mat-sort-header>Description</div>
      <div class="description-cell" *matCellDef="let todoItem">{{todoItem.description}}</div>
    </ng-container>

    <ng-container matColumnDef="updated">
      <div *matHeaderCellDef mat-sort-header>Updated</div>
      <div class="updated-cell" *matCellDef="let todoItem">{{todoItem.updated}}</div>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>

  </mat-table>

  <mat-paginator [length]="dataSource.totalRecords$ | async" [pageSize]="3" [pageSizeOptions]="[3, 5, 10]"></mat-paginator>
</div>
