@using Shared

@*addTagHelper for tag asp-append-version="true" *@
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers" 

@inject InstanceInfo info
@{
    var cacheRefresh = "?cache=" + info.CodeVer.GetHashCode();
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NgApp</title>
    <base href="/home/Angular">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/bundles/ngApp/favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
    <link rel="stylesheet" href="/bundles/ngApp/styles.css" asp-append-version="true">
</head>
<body>

    <app-root></app-root>
    <script type="text/javascript" src="/bundles/ngApp/runtime.js@(cacheRefresh)"></script>
    <script type="text/javascript" src="/bundles/ngApp/polyfills.js@(cacheRefresh)"></script>
    <script type="text/javascript" src="/bundles/ngApp/main.js" asp-append-version="true"></script>

</body>
</html>
