/* icons https://material.io/tools/icons/?style=baseline */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    height: 100%;
  }  
body {
    margin: 0;
    min-height: 100%;
    
}

