{{Description}}
public async Task<{{ResponseType}}> {{ControllerName}}_{{ActionName}}({{RequestType}} data)
{
	var dictionary = UrlHelpers.ToFlatDictionary(data);
				
	var response = await _client.GetAsync(QueryHelpers.AddQueryString("/{{ControllerName}}/{{ActionName}}", dictionary));
	response.EnsureSuccessStatusCode();

	var result = await response.Content.ReadAsAsync<{{ResponseType}}>();
	return result;
}
